*~
*.backup
*.bac
*.new
*.old
*.build
\#*\#
#*#
*.out
*.log
*.swp
#*.so
#*.d
#*.o
*/linux/
*/lib/
*/src/linux
*.sh
*.csh
*.dat
*.root
*.err
*.pyc
*.txt
gemBase
gemCore
gemManager
gemSupervisor
gemRCMS
glib-testing
test
rcms
vfat-testing
##setup
##!setup/*.py
##!setup/*.?sh
data/createOptoHybridRegisters.py
data/createVFATChanRegs.py
data/vfat2_address_table.xml
data/vfatchanregs_v2.xml
data/glib_test.xml
!gemrcms/gemLevelOneFM/src/rcms/fm/*
*#*
cachegrind.out.*
callgrind.out.*
perf.data
xdaq.prof.*
perf.output.*
xdaqexamples
**/output/*.pdf
**/output/*/*.pdf
**/output/*/*/*.pdf
**/output/*/*.root
**/output/*/*/*.root
