# Ignore everything
*
# Don't ignore subdirectories
!*/
# Don't ignore source files, etc
!*.gitignore
!*.cc
!*.h
!*.py
!*.js
!*.css
!setup/etc/addresstables/*.xml
!setup/paths.sh
!setup/etc/profile.d/*sh
!setup/etc/yum.repos.d/*.repo
!*.rules
# don't ignore CSS/JS etc
!*.js
!*.css
