.vfatControl,.vfatPosition,.vfatChipID{
    display:block;
    padding: 5px;
    margin : 5px;
    list-style-type: none;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:medium outset #CCC;
}
.controlRegister {
    display:inline-block;
    padding: 5px;
    margin : 5px;
    list-style-type: none;
}
.controlRegisterBits {
    display:inline;
    padding: 0px;
    margin: 0px;
    width: 650px;
    float:left;
}
.controlRegisterTitle {
    display:block;
    margin-right:20px;
    margin-top:15px;
    margin-bottom:5px;
    float:left;
}

.controlRegisterCheckBox {
    margin-right:20px;
    float:left;
    float:right;
    display:block;
}
    
.controlRegisterCheckBox label {
    display:block;
}
.controlRegisterCheckBox input {
    display:block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:medium outset #CCC;
}

.controlRegisterDropdownEntry {
    margin-right:20px;
    float:left;
    /*display:block;*/
}

.controlRegisterDropdownEntry label {
    display:block;
    background-color:;
}

.controlRegisterDropdownEntry select {
    display:block;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:medium outset #CCC;
}
