.controlRegister {
    display:inline-block;
    float:left;
    
    .controlRegisterTitle {
	display:inline-block;
	float:left;
    }
    
    .controlRegisterCheckBox {
	label {
	    display:block;
	    float:left;
	}
	input {
	    float:left;
	}
    }
    
    .controlRegisterDropdownEntry {
	label {
	    display:block;
	    background-color:;
	    float:left;
	}
	select {
	    /*width:300px;*/
	    margin-bottom:5px;
	    line-height:18px;
	    padding:2px 5px;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
	    border:1px solid #CCC;
	    float:left;
	}
	
    }
}
